<div class="outer">
  <div class="left-nav">
    <Heading @as="h3">
      MBKit Ember
    </Heading>

    <ul>
      <li>
        <a href="#typography">Typography</a>
      </li>
      <li>
        <a href="#card">Card</a>
      </li>
      <li>
        <a href="#button">Button</a>
      </li>
      <li>
        <a href="#checkbox">Checkbox</a>
      </li>
      <li>
        <a href="#input">Input</a>
      </li>
      <li>
        <a href="#label">Label</a>
      </li>
      <li>
        <a href="#radio">Radio</a>
      </li>
      <li>
        <a href="#textarea">Textarea</a>
      </li>
      <li>
        <a href="#toggle">Toggle</a>
      </li>
      <li>
        <a href="#actionbanner">Action Banner</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <Heading @color="info" class="heading" id="typography">
      Typography
    </Heading>
    ​
    <div class="sections">
      <Heading @as="h1" @color="default">Welcome to Ember</Heading>
      <Heading @as="h2" @color="warning">Welcome to Ember</Heading>
      <Heading @as="h3">Welcome to Ember</Heading>
      <Heading @as="h4">Welcome to Ember</Heading>
      <Heading @as="h5">Welcome to Ember</Heading>
      <Heading @as="h6">Welcome to Ember</Heading>
      <Heading>Welcome to Ember</Heading>
    </div>
    <div class="sections">
      <Text>This is a paragraph</Text>
      <Text @as={{element "span"}}>This is a span tag</Text>
      <Text @as={{element "span"}} @color="success">This is a span tag with color</Text>
      <Text @size="1">This is a paragraph</Text>
      <Text @color="error">This is a paragraph</Text>
    </div>
    <div class="sections">
      <Link>Base Link</Link><br /><br />
      <Link @route="index">Link with Route</Link><br /><br />
      <Link @href="google.com">Outside Link</Link>
    </div>
    ​
    <Heading @color="info" class="heading" id="card">
      Card
    </Heading>
    ​
    <div class="sections sections-bg">
      <Card>This is a standard card where you can place content.</Card>
      <br /><br />
      <Card @as={{element "section"}}>
        This card is rendered as a section element using the "as" prop.
      </Card>
    </div>
    ​
    <Heading @color="info" class="heading" id="button">
      Button
    </Heading>
    ​
    <div class="sections sections-grid">
      <div>
        <Button @variant="primary">Primary</Button>
      </div>
      <div>
        <Button @variant="secondary">Secondary</Button>
      </div>
      <div>
        <Button @variant="tertiary">Tertiary</Button>
      </div>
      <div>
        <Button @variant="offCard">Off Card</Button>
      </div>
      <div>
        <Button @variant="simpleText">Simple Text</Button>
      </div>
      <div>
        <Button @variant="primary" disabled>Disabled State</Button>
      </div>
      <div>
        <Button @variant="iconPrimary" aria-label="Edit">
          <svg width="32" height="32" viewBox="0 0 32 32" class="">
            <defs>
              <path id="path-1-9fkkWOFJo-Oa4XJeQLo7-"
                d="M10.1450548 26.0120565c.9282577 0 1.8184964-.3687489 2.4748737-1.0251262l12.263456-12.263456c.4747541-.474754.490038-.9241756 0-1.4142136l-3.2426407-3.24264064c-.5331636-.53316362-.8816412-.53257228-1.4142135 0L7.9630743 20.330076c-.65637732.6563774-1.02512627 1.546616-1.02512627 2.4748738v2.7071067c0 .2761424.22385763.5.5.5h2.70710677zM22.3478506 7.35951328l3.2426407 3.24264072c.8917199.8917199.8549309 1.9734962 0 2.8284271l-12.263456 12.263456c-.8439137.8439137-1.9885063 1.3180194-3.1819805 1.3180194H7.43794803c-.82842712 0-1.5-.6715728-1.5-1.5v-2.7071067c0-1.1934742.47410579-2.3380668 1.31801949-3.1819806L19.5194235 7.35951328c.9225604-.92256037 1.904201-.92422614 2.8284271 0zm1.5057028-3.21306667l5 5c.1952621.19526215.1952621.51184463 0 .70710678-.1952622.19526211-.5118446.19526211-.7071068 0l-5-5c-.1952621-.19526215-.1952621-.51184463 0-.70710678.1952622-.19526215.5118446-.19526215.7071068 0z">
              </path>
            </defs>
            <g id="Icons/UI/Edit-9fkkWOFJo-Oa4XJeQLo7-" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
              <mask id="mask-2-9fkkWOFJo-Oa4XJeQLo7-" fill="#fff">
                <use xlinkHref="#path-1-9fkkWOFJo-Oa4XJeQLo7-"></use>
              </mask>
              <use id="Combined-Shape-9fkkWOFJo-Oa4XJeQLo7-" fill="#54575F" xlinkHref="#path-1-9fkkWOFJo-Oa4XJeQLo7-">
              </use>
            </g>
          </svg>
        </Button>
      </div>
      <div>
        <Button @variant="icon" aria-label="Edit Content">
          <svg width="32" height="32" viewBox="0 0 32 32" class="">
            <defs>
              <path id="path-1-9fkkWOFJo-Oa4XJeQLo7-1"
                d="M10.1450548 26.0120565c.9282577 0 1.8184964-.3687489 2.4748737-1.0251262l12.263456-12.263456c.4747541-.474754.490038-.9241756 0-1.4142136l-3.2426407-3.24264064c-.5331636-.53316362-.8816412-.53257228-1.4142135 0L7.9630743 20.330076c-.65637732.6563774-1.02512627 1.546616-1.02512627 2.4748738v2.7071067c0 .2761424.22385763.5.5.5h2.70710677zM22.3478506 7.35951328l3.2426407 3.24264072c.8917199.8917199.8549309 1.9734962 0 2.8284271l-12.263456 12.263456c-.8439137.8439137-1.9885063 1.3180194-3.1819805 1.3180194H7.43794803c-.82842712 0-1.5-.6715728-1.5-1.5v-2.7071067c0-1.1934742.47410579-2.3380668 1.31801949-3.1819806L19.5194235 7.35951328c.9225604-.92256037 1.904201-.92422614 2.8284271 0zm1.5057028-3.21306667l5 5c.1952621.19526215.1952621.51184463 0 .70710678-.1952622.19526211-.5118446.19526211-.7071068 0l-5-5c-.1952621-.19526215-.1952621-.51184463 0-.70710678.1952622-.19526215.5118446-.19526215.7071068 0z">
              </path>
            </defs>
            <g id="Icons/UI/Edit-9fkkWOFJo-Oa4XJeQLo7-1" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
              <mask id="mask-2-9fkkWOFJo-Oa4XJeQLo7-1" fill="#fff">
                <use xlinkHref="#path-1-9fkkWOFJo-Oa4XJeQLo7-1"></use>
              </mask>
              <use id="Combined-Shape-9fkkWOFJo-Oa4XJeQLo7-" fill="#54575F" xlinkHref="#path-1-9fkkWOFJo-Oa4XJeQLo7-1">
              </use>
            </g>
          </svg>
        </Button>
      </div>
    </div>
    ​
    <div class="sections sections-grid">
      <div>
        <Button @variant="primaryOutlined">Primary</Button>
      </div>
      <div>
        <Button @variant="secondaryOutlined">Secondary</Button>
      </div>
      <div>
        <Button @variant="tertiaryOutlined">Tertiary</Button>
      </div>
    </div>
    ​
    <div class="sections sections-grid">
      <div>
        <Button @variant="primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8">
            <g id="Buttons" fill="none" fillRule="evenodd">
              <g id="Desktop" fill="#5A5E66" transform="translate(-541 -713)">
                <g id="Tertiary-with-Icon-Outlined" transform="translate(507 699)">
                  <g id="Group-5" transform="translate(32 8)">
                    <g id="Email" transform="translate(0 2)">
                      <path id="Rectangle-102"
                        d="M14 4.99703014v6.00593976C14 11.5536144 13.544239 12 12.9975267 12H3.00247329C2.44882258 12 2 11.5469637 2 11.0029699V4.99703014c0-.10634141.01699806-.20879437.04836656-.30489467L7.6799078 9.38411064 8 9.65085414l.3200922-.2667435 5.6312947-4.69214715c.0315595.096445.0486131.1990278.0486131.30506665zM12.9975267 4c.0685939 0 .1355787.00695396.2003003.0201733L8.02224875 8.36768656a406169392.0297298 406169392.0297298 0 0 0-5.2176622-4.34805191C2.86926517 4.0067629 2.93518026 4 3.00247329 4h9.99505341z" />
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          Primary
        </Button>
      </div>
      <div>
        <Button @variant="secondaryOutlined">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8">
            <g id="Buttons" fill="none" fillRule="evenodd">
              <g id="Desktop" fill="#5A5E66" transform="translate(-541 -713)">
                <g id="Tertiary-with-Icon-Outlined" transform="translate(507 699)">
                  <g id="Group-5" transform="translate(32 8)">
                    <g id="Email" transform="translate(0 2)">
                      <path id="Rectangle-102"
                        d="M14 4.99703014v6.00593976C14 11.5536144 13.544239 12 12.9975267 12H3.00247329C2.44882258 12 2 11.5469637 2 11.0029699V4.99703014c0-.10634141.01699806-.20879437.04836656-.30489467L7.6799078 9.38411064 8 9.65085414l.3200922-.2667435 5.6312947-4.69214715c.0315595.096445.0486131.1990278.0486131.30506665zM12.9975267 4c.0685939 0 .1355787.00695396.2003003.0201733L8.02224875 8.36768656a406169392.0297298 406169392.0297298 0 0 0-5.2176622-4.34805191C2.86926517 4.0067629 2.93518026 4 3.00247329 4h9.99505341z" />
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          Secondary
        </Button>
      </div>
    </div>
    ​
    <div class="sections sections-grid">
      <div>
        <Button @variant="primary" @isLoading={{true}}>Primary</Button>
      </div>
      <div>
        <Button @variant="tertiaryOutlined" @isLoading={{true}}>Tertiary</Button>
      </div>
    </div>
    ​
    <div class="sections sections-grid">
      <div>
        <Button @variant="primary" @size="1">Primary</Button>
      </div>
      <div>
        <Button @variant="primary" @size="2">Primary</Button>
      </div>
      <div>
        <Button @variant="primary" @size="3">Primary</Button>
      </div>
      <div>
        <Button @variant="primary" @size="4">Primary</Button>
      </div>
    </div>
    ​
    <Heading @color="info" class="heading" id="checkbox">
      Checkbox
    </Heading>

    <div class="sections sections-grid">
      <div>
        <Checkbox /> Simple Check
      </div>
      <div>
        <Checkbox checked /> Checked Box
      </div>
      <div>
        <Checkbox @invalid={{true}} /> Invalid
      </div>
      <div>
        <label for="full-label">
          <Checkbox id="full-label" /> Full label that we can click
        </label>
      </div>
    </div>
    ​
    <Heading @color="info" class="heading" id="input">
      Input
    </Heading>

    <div class="sections">
      <Input placeholder="No value entered" />
      <br />
      <Input @value="Happe" />
      <br />
      <Input placeholder="This is disabled" @disabled={{true}} />
      <br />
      <Input placeholder="More info here" @isInvalid={{true}} />
      <br />
      <Input placeholder="How much does this class cost?" @before="$" />
      <br />
      <Input placeholder="How much does this class cost?" @after="€" />
      <br />
      <Input placeholder="How much does this class cost?" @before="$" @disabled={{true}} />
      <br />
      <Input placeholder="How much does this class cost?" @after="€" @disabled={{true}} />
      <br />
      <Input placeholder="How much does this class cost?" @before="$" @after="€" />
    </div>

    <Heading @color="info" class="heading" id="label">
      Label
    </Heading>

    <div class="sections">
      <div>
        <Label @inputId="input-1">
          Username
        </Label>
        <Input id="input-1" />
      </div>
    </div>

    <Heading @color="info" class="heading" id="radio">
      Radio
    </Heading>

    <div class="sections">
      <div>
        <label>
          <Radio /> Female
        </label>
      </div>
      <div>
        <label>
          <Radio @isChecked={{true}} /> Male
        </label>
      </div>
      <div>
        <label>
          <Radio disabled /> Undecided
        </label>
      </div>
    </div>

    <Heading @color="info" class="heading" id="textarea">
      Textarea
    </Heading>

    <div class="sections">
      <div>
        <Textarea />
        </div>
      <br />
      <div>
        <Textarea @value="This is some real content" />
      </div>
      <br />
      <div>
        <Textarea disabled />
      </div>
      <br />
      <div>
        <Textarea @isInvalid={{true}} @value="This is some real content" />
      </div>
      <br />

      <Heading @color="info" class="heading" id="toggle">
        Toggle
      </Heading>

      <div class="sections">
        <Toggle @checked={{false}} />
        <br /><br />
        <Toggle @checked={{true}} />
        <br /><br />
        <Toggle disabled @checked={{false}} />
        <br /><br />
        <Toggle disabled @checked={{true}} />
        <hr />
        <br />
        <Toggle @checked={{false}} @size={{1}} />
        <br /><br />
        <Toggle @checked={{true}} @size={{2}} />
        <hr />
        <br />
        <Toggle @checked={{false}} id="toggle-1" />
        <label for="toggle-1">Feature A</label>
      </div>

      <Heading @color="info" class="heading" id="actionbanner">
        Action Banner
      </Heading>

      <div class="sections">
        <ActionBanner @variant="warning" @show={{this.modalOpened}} @onClose={{this.closeModal}}>
          This is really cool
        </ActionBanner>
        <ActionBanner @variant="error" @show={{true}}>
          This is really cool
        </ActionBanner>
        <ActionBanner @variant="warning" @show={{false}}>
          This is really cool
        </ActionBanner>
      </div>
    </div>
  </div>
</div>

